/*Biblioteca de colores*/

/**** 2022 ****/
/* Color Theme Swatches in Hex */
.mountain-1-hex { color: #68788C; }
.mountain-2-hex { color: #979DA6; }
.mountain-3-hex { color: #F2E205; }
.mountain-4-hex { color: #F2EEB3; }
.mountain-5-hex { color: #F2D64B; }

/* Color Theme Swatches in RGBA */
.mountain-1-rgba { color: rgba(103, 119, 140, 1); }
.mountain-2-rgba { color: rgba(150, 157, 165, 1); }
.mountain-3-rgba { color: rgba(242, 226, 4, 1); }
.mountain-4-rgba { color: rgba(242, 238, 179, 1); }
.mountain-5-rgba { color: rgba(242, 214, 75, 1); }

/* Color Theme Swatches in Hex */
.FALLING-BEAUTY-1-hex { color: #021826; }
.FALLING-BEAUTY-2-hex { color: #0A3140; }
.FALLING-BEAUTY-3-hex { color: #245C73; }
.FALLING-BEAUTY-4-hex { color: #4B8CA6; }
.FALLING-BEAUTY-5-hex { color: #91C4D9; }

/* Color Theme Swatches in RGBA */
.FALLING-BEAUTY-1-rgba { color: rgba(2, 24, 38, 1); }
.FALLING-BEAUTY-2-rgba { color: rgba(10, 48, 63, 1); }
.FALLING-BEAUTY-3-rgba { color: rgba(35, 92, 114, 1); }
.FALLING-BEAUTY-4-rgba { color: rgba(74, 139, 165, 1); }
.FALLING-BEAUTY-5-rgba { color: rgba(145, 196, 216, 1); }


/* Color Theme Swatches in Hex */
.Synthwave-1-hex { color: #D6139B; }
.Synthwave-2-hex { color: #CC1AD9; }
.Synthwave-3-hex { color: #8C1ABD; }
.Synthwave-4-hex { color: #6111BD; }
.Synthwave-5-hex { color: #2D0E96; }

/* Color Theme Swatches in RGBA */
.Synthwave-1-rgba { color: rgba(214, 18, 154, 1); }
.Synthwave-2-rgba { color: rgba(204, 26, 216, 1); }
.Synthwave-3-rgba { color: rgba(140, 26, 188, 1); }
.Synthwave-4-rgba { color: rgba(96, 17, 188, 1); }
.Synthwave-5-rgba { color: rgba(45, 14, 149, 1); }


/**** MMARCATEL ****/
.marcatel-01 {
    background-color: #896bab;
    /*Enero*/
}

.marcatel-02 {
    background-color: #6b4996;
    /*Febrero*/
}

.marcatel-03 {
    background-color: #4c2882;
    /*Marzo*/
}

.marcatel-04 {
    background-color: #40236b;
    /*Abril*/
}

.marcatel-05 {
    background-color: #351e55;
    /*Mayo*/
}

.marcatel-06 {
    background-color: #2a1940;
    /*Junio*/
}

/**** MCM ****/
.mcm-01 {
    background-color: #a1ca96;
    /*Enero*/
}

.mcm-02 {
    background-color: #81b874;
    /*Febrero*/
}

.mcm-03 {
    background-color: #60a753;
    /*Marzo*/
}

.mcm-04 {
    background-color: #337b2a;
    /*Abril*/
}

.mcm-05 {
    background-color: #2b6124;
    /*Mayo*/
}

.mcm-06 {
    background-color: #24491d;
    /*Junio*/
}

/**** IPCOM ****/
.ipcom-01 {
    background-color: #5360c1;
    /*Enero*/
}

.ipcom-02 {
    background-color: #354aa6;
    /*Febrero*/
}

.ipcom-03 {
    background-color: #1145b4;
    /*Marzo*/
}

.ipcom-04 {
    background-color: #1a3a94;
    /*Abril*/
}

.ipcom-05 {
    background-color: #1d2f74;
    /*Mayo*/
}

.ipcom-06 {
    background-color: #1b2557;
    /*Junio*/
}

/**** HAZ ****/

.hazz-01 {
    background-color: #ef958f;
    /*Enero*/
}

.hazz-02 {
    background-color: #e4706c;
    /*Febrero*/
}

.hazz-03 {
    background-color: #d5484c;
    /*Marzo*/
}

.hazz-04 {
    background-color: #a21027;
    /*Abril*/
}

.hazz-05 {
    background-color: #811620;
    /*Mayo*/
}

.hazz-06 {
    background-color: #60161a;
    /*Junio*/
}

/**** RAPTOR ****/

.raptor-01 {
    background-color: #aeaeae;
    /*Enero*/
}

.raptor-02 {
    background-color: #949494;
    /*Febrero*/
}

.raptor-03 {
    background-color: #7b7b7b;
    /*Marzo*/
}

.raptor-04 {
    background-color: #525252;
    /*Abril*/
}

.raptor-05 {
    background-color: #424242;
    /*Mayo*/
}

.raptor-06 {
    background-color: #323232;
    /*Junio*/
}

/**** ALL ****/

.enero {
    background-color: rgb(210, 69, 44);
}

.febrero {
    background-color: rgb(210, 119, 44);
}

.marzo {
    background-color: rgb(210, 168, 44);
}

.abril {
    background-color: rgb(202, 210, 44);
}

.mayo {
    background-color: rgb(102, 210, 44);
}

.junio {
    background-color: rgb(52, 210, 44);
}

.julio {
    background-color: rgb(44, 210, 86);
}

.agosto {
    background-color: rgb(44, 210, 135);
}

.septiembre {
    background-color: rgb(44, 185, 210);
}

.octubre {
    background-color: rgb(44, 135, 210);
}

.noviembre {
    background-color: rgb(44, 86, 210);
}

.diciembre {
    background-color: rgb(52, 44, 210);
}